#for
	background: #626D7D url('../img/backs/for.png') no-repeat center
	background-size: cover
	padding 100px 0 130px
	color #fff
.for-list
	margin-bottom: 65px
	li
		list-style none
		position relative
		margin-bottom: 20px
		padding-left: 90px
		line-height: 1
		font-size: 24px
		font-weight: bold
		background: url(../img/icons/check-white.svg) no-repeat left top
		background-size: 50px 50px
		&:last-child
			margin-bottom: 0
		// &:before
		// 	content: ''
		// 	display block
		// 	position absolute
		// 	width 50px
		// 	height: 50px
		// 	background-size: contain
		// 	top 0
		// 	left: 0