#get
	padding 90px 0
	@media screen and (max-width 991px)
		padding 60px 0
	@media screen and (max-width 414px)
		padding 40px 0
.button-get
	margin-top: 70px
	@media screen and (max-width 991px)
		margin-top: 40px