section#main
	.container
		include ../base/1-header
			.row
				.col-md-6
					.main-info
						h1.main-title
							small как стать востребованным
							| бизнес-расстановщиком
						p.main-pre.mob-none 5-дневный практикум
						h2.main-subtitle для&nbsp;начинающих и опытных специалистов помогающих профессий
						+img('main-img-2 d-none', 'img/images/main-2.png', 'Жанна Абрамова')
						p.main-pre.d-none 5-дневный практикум
					.main-cert
						+img('main-cert-img','img/icons/main.svg', 'Каждый участник получает сертификат Института современной психологии')
						p.main-cert-text Каждый участник получает сертификат Института современной психологии
					+b('', '', href, 'Принять участие')
					.main-date
						p.main-date-text 27-31&nbsp;мая
						p.main-date-text 5&nbsp;эфиров
						p.main-date-text онлайн формат
				.col-md-6
					+img('main-img-1 mob-none', 'img/images/main.png', 'Жанна Абрамова')