section#about
	.container
		+gtl('', 'бизнес-расстановщик', 'кто такой')
	.d-none.mob-img-wrapper.d-none
		+img('about-img-mob', 'img/images/about.png', 'Кто такой бизнес-расстановщик')
	.container
		.about-info
			+img('mob-none about-img', 'img/images/about.png', 'Кто такой бизнес-расстановщик')
			.about-items
				.about-item
					h4.general-subtitle Бизнес-расстановки (денежные расстановки)
					p.general-text Это отдельное направление классических системных расстановок. К&nbsp;нему относится любая работа с&nbsp;деньгами и все, что касается сферы финансов: заработок, кредиты, долги, покупка и продажа и чего-либо, отношения в&nbsp;команде, финансовый рост, карьера, финансовые кризисы и т.д. Классические системные расстановки не&nbsp;работают с&nbsp;финансовыми запросами!
				.about-item
					h4.general-subtitle Бизнес-расстановщик
					p.general-text Это специалист, обладающий навыками проведения расстановок на&nbsp;финансовую тематику. Клиент, который хочет зарабатывать больше — это ваш клиент на&nbsp;бизнес-расстановку. А&nbsp;это 100% ваших клиентов.