mixin d(date, name, ...items)
	.day
		.day-title
			h4
				small!=date
				!=name
		.day-info
			ul.general-list
				each item in items
					li!=item


section#plan
	.container
		+gtr('', 'Программа и расписание', 'практикума')
		.days
			+d('Понедельник 27&nbsp;мая 18:00&nbsp;мск', 'Введение в&nbsp;профессию бизнес-расстановщик', 'Что такое системные расстановки','Расстановочное поле','Принцип считывания расстановочного поля','Интерпретация информации из&nbsp;расстановочного поля')
			+d('Вторник 28&nbsp;мая 18:00&nbsp;мск', 'Системы и законы их функционирования. Как они влияют на&nbsp;разные сферы жизни', 'Системы, «Я и семья», «Я и бизнес»','Функционирование систем, влияние на&nbsp;основные сферы жизни','Законы функционирования систем', 'Практика: Выявляем нарушения законов родовой системы', 'Демонстрационная сессия: находим дисбаланс в&nbsp;родовой системе, по&nbsp;запросу одного из&nbsp;участников практикума')
			+d('Среда 29&nbsp;мая 18:00&nbsp;мск', 'Где бизнес-расстановщику искать клиентов и какие у&nbsp;них запросы', 'Бизнес-системы. Законы функционирования.', 'Сходства и принципиальные отличия функционирования родовых и бизнес-систем', 'С&nbsp;какими запросами работает бизнес-расстановщик', 'С&nbsp;кем работает бизнес-расстановщик','Востребованность профессии и программа дипломного курса', 'Практика')
			+d('Четверг 30&nbsp;мая 18:00&nbsp;мск', 'Работа с&nbsp;финансовыми воронками, потерями и кризисами', 'Работа с&nbsp;финансовым полем','Финансовые воронки, потери и кризисы','Презентация дипломной программы обучения', 'Практика «Слепое пятно». Ищем, что препятствует финансовому движению', 'Демонстрационная сессия с&nbsp;одним из участников практикума')
			+d('Пятница 31&nbsp;мая 18:00&nbsp;мск', 'Поиск и разбор препятствий нашего финансового роста', 'Многоуровневые расстановки', 'Миссия бизнеса', 'Принадлежность к&nbsp;роду, как основное препятствие финансового роста. Презентация дипломной программы обучения','Выход на&nbsp;быстрый финансовый рост. Упражнение на&nbsp;квантовое смещение финансов','Демонстрационная сессия с&nbsp;одним из&nbsp;участников практикума')
		+b('', '', href, 'Принять участие')
		.cert
			p.cert-text Каждый участник практикума получает 
				span сертификат Института современной психологии
				small лицензия № Л035-01298-77/00181313
			+img('cert-img', 'img/images/cert.png', 'Диплом')