section#for
	.container
		+gtr('general-title-white', 'Практикум для&nbsp;вас', 'если')
		ul.for-list
			li Вы развиваетесь в&nbsp;помогающей сфере (МАК-специалист, психолог, тета-хилер, системный расстановщик, коуч, таролог и т. д.) и хотите повысить свою квалификацию
			li Хотите разобраться с&nbsp;азами профессии «бизнес-расстановщик» и получить актуальные знания от&nbsp;эксперта-практика с&nbsp;большим опытом
			li Сомневаетесь, подходит ли вам работа с&nbsp;денежными запросами и хотите понять, сможете ли эффективно работать с&nbsp;клиентами в&nbsp;теме денег
			li Не&nbsp;знаете ничего о&nbsp;методе расстановок и хотите повысить свою квалификацию или разобрать собственный денежный запрос
		+b('' , '', href, 'Хочу на&nbsp;практикум')