section#for
	.container
		+gt('', 'Практикум для&nbsp;вас', 'если')
		ul.for-list
			li Вы развиваетесь в помогающей сфере (МАК-специалист, психолог, тета-хилер, системный расстановщик, коуч, таролог и т. д.) и хотите повысить свою квалификацию
			li Хотите разобраться с азами профессии «бизнес-расстановщик» и получить актуальные знания от эксперта-практика с большим опытом
			li Хотите разобраться с азами профессии «бизнес-расстановщик» и получить актуальные знания от эксперта-практика с большим опытом
			li Не знаете ничего о методе расстановок и хотите повысить свою квалификацию или разобрать собственный денежный запрос
		+b('' , '', href, 'Хочу на&nbsp;практикум')