section#author
	.container
		h6.author-pre 5&nbsp;прямых эфиров, наполненных практикой, пользой и инструментами, которые можно сразу использовать в&nbsp;работе
		+img('author-pre-img', 'img/icons/arrow-down.svg', 'Стрелка вниз')
		+gtl('general-title-author', 'жанна абрамова', 'автор и ведущая')
	+img('d-none author-img', 'img/images/janna.png', 'Жанна Абрамова')
	.container
		.row
			.col-md-5
				+img('mob-none author-img', 'img/images/janna.png', 'Жанна Абрамова')
			.col-md-7
				h4.general-subtitle.general-subtitle-author Психотерапевт, клинический психолог
				ul.general-list-2
					li Более 20&nbsp;лет практической работы
					li Более 10000 выпускников окончивших курсы и обучающие программы
					li Эксперт федеральных каналов
					li Ведущий преподаватель «Института современной психологии»
					li Коуч, тренер обучающих и трансформационных программ, многие из&nbsp;которых созданы с&nbsp;применением собственных инструментов и методик
				.author-info-best
					h4 Премия в&nbsp;номинации 
						br
						| «Лучший бизнес-расстановщик года» 
						br
						| SKOLKOVO TECH & INNOVATION Awards&nbsp;2023
		+b('', '', href, 'Зарегистрироваться')