section#get
	.container
		+gt('', '5 дней практикума', 'после', 'вы')
		ul.general-list-2
			li Разберетесь в азах работы с денежными запросами и как эти знания можно монетизировать
			li Получите практические знания и инструменты, которые сможете использовать в работе с клиентами
			li Поймете, подходит ли вам профессия бизнес-расстановщик и стоит ли вам развиваться в этом направлении
			li А также получите шанс попасть на разбор к Жанне Абрамовой в прямом эфире!
		+b('', 'button-get', href, 'Зарегистрироваться')